* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  direction: rtl;
}
:root {
  --green-color: #29b6ab;
  --black-color: #0000;
  --yellow-color: #e39700;
}
