.withdrawModelHeader button {
  margin: 0 !important;
}
.formGroup {
  margin-bottom: 20px;
}
.formGroup input {
  padding: 10px;
  width: 100%;
  border: solid 1px #d9dbdf;
  border-radius: 3px;
}
.formGroup input::-webkit-inner-spin-button,
.formGroup input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formGroup input {
  -moz-appearance: textfield;
}
.formGroup div {
  position: relative;
}
.formGroup div span {
  position: absolute;
  left: 17px;
  font-weight: bold;
  top: 9px;
}
.formGroup label {
  display: block;
  font-weight: 600;
}
.formGroup input:focus {
  border: 1px solid var(--green-color);
  box-shadow: none;
  outline: none;
}
.withdrawModelBtn {
  padding: 20px;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  border: 0;
  background-color: var(--green-color);
  color: #fff;
  width: 100%;
}
